{% extends 'base.html' %}

{% block title %} Performance Analysis {% endblock title %}

{% block head %}
<!-- CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/performance.css') }}">
{% endblock head %}

<body>
    {% block work_body %}
    <!-- Menu Container -->
    <div class="container mt-5">
        <div class="row">
            <!-- Sidebar for menu options -->
            <div class="col-md-3" style="padding-left: 0;"> <!-- Remove default padding -->
                <h2 class="text-start">Menu Options</h2> <!-- Align text to the start -->
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ url_for('profile') }}" class="btn btn-outline btn-lg w-100">Profile</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ url_for('work') }}" class="btn btn-outline btn-lg w-100">Detection</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ url_for('performance') }}" class="btn btn-outline btn-lg w-100 active">Performance Analysis</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ url_for('get_daily_summary') }}" class="btn btn-outline btn-lg w-100">Daily Summary</a>
                    </li>
                </ul>
            </div>

            <!-- Content area -->
            <div class="col-md-9">
                <div class="content">
                    <h2 class="text-center">Posture Performance Analysis</h2>
                    <div id="chartContainer">
                        <!-- Chart.js will render the chart in this canvas -->
                        <canvas id="alertChart" width="400" height="400"></canvas>
                    </div>
                    <button class="btn btn-primary mt-3" onclick="fetchAlertData()">Load Performance Data</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Chart.js for graph plotting -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='performance.js') }}"></script>
    {% endblock work_body %}
</body>
</html>
